extends layout
block content
  script(src='/js/othello_room.js')
  script.
    var minichat = {
      roomName: '#{room.name}',
      password: '#{room.password}',
      userName: '#{user.name}',
      roomId: '#{room.name}#{room.password}',
      mode: '#{mode}', 
    };

  //- ルーム名
  //- button#white.btn.btn-default(type='button', name='white') White
  //- button#white.btn.btn-default(type='button', name='black') Black
  //- button#red.btn.btn-default(type='button', name='red') Red
  //- button#blue.btn.btn-default(type='button', name='blue') Blue
  //- button#yellow.btn.btn-default.disabled(type='button', name='yellow') Yellow

  //- オセロの動的配置
  #othello_board
    - var i = 0;
    - var j = 0;
    table(cellspacing=0)
      - var v = [1,2,3,4,5,6,7,8];
      each item in v
        tr
          each item2 in v
            td(id='mass#{item}#{item2}' class='mass')
              img(src='/img/100mass_green.png', alt='')

    button#ImReady.btn.btn-default(type='button', name='ImReady') I'm ready 
    h2#client-color 
    h2#timetostart 


  //- ルーム内チャット
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') minichat
        ul.nav
          li: a ルーム名：#{room.name}
          li: a(href='/') 退出する
  #main-contents.container
    .row
      .span4
        h3: span#yourname name: #{user.name}
        form
          label
            textarea#message.span4(rows='5', placeholder='メッセージを入力...')
          button#post-message.btn.btn-primary(type='button') メッセージを投稿
        #members-box
          h5 チャットメンバー：
          ul#members
  #main-contents.container
    .span8
      #messages.well


  // 入室時の確認ダイアログ
  // パスワードが不正
  #credentialDialog.modal.hide(data-backdrop='static', keyboard='false')
    .modal-header
      h3#credential-dialog-header 入室エラー
    .modal-body
      p#credential-dialog-message ルーム情報や名前を再入力してください：
      form#credential-dialog-form.form-horizontal
        .control-group
          label.control-label(for='new-room-name') ルーム名
          .controls
            input#new-room(type='text', name='roomName', placeholder='ルーム名を入力...')
        .control-group
          label.control-label(for='new-name') 表示するあなたの名前
          .controls
            input#new-name(type='text', name='yourName', placeholder='表示名を入力...')
        .control-group
          label.control-label(for='new-password') 認証用パスワード
          .controls
            label
              input#new-password(type='password', name='password', placeholder='パスワードを入力...')
            button.btn.btn-primary(type='submit') 再試行
        .modal-footer
          a(href='/') トップページへ戻る

  hr
  footer
    p RT_othello 1.2

