extends layout
block content
  script(src='/js/room.js')
  script.
    var minichat = {
      roomName: '#{room.name}',
      password: '#{room.password}',
      userName: '#{user.name}',
      roomId: '#{room.name}#{room.password}',
      mode: '#{mode}'
    };

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') minichat
        ul.nav
          li: a ルーム名：#{room.name}
          li: a(href='/') 退出する
  #main-contents.container
    .row
      .span4
        h3: span#yourname #{user.name}
        form
          label
            textarea#message.span4(rows='5', placeholder='メッセージを入力...')
          button#post-message.btn.btn-primary(type='button') メッセージを投稿
        #members-box
          h5 チャットメンバー：
          ul#members
      .span8
        #messages.well

  // 入室時の確認ダイアログ
  // パスワードが不正
  #credentialDialog.modal.hide(data-backdrop='static', keyboard='false')
    .modal-header
      h3#credential-dialog-header 入室エラー
    .modal-body
      p#credential-dialog-message ルーム情報や名前を再入力してください：
      form#credential-dialog-form.form-horizontal
        .control-group
          label.control-label(for='new-room-name') ルーム名
          .controls
            input#new-room(type='text', name='roomName', placeholder='ルーム名を入力...')
        .control-group
          label.control-label(for='new-name') 表示するあなたの名前
          .controls
            input#new-name(type='text', name='yourName', placeholder='表示名を入力...')
        .control-group
          label.control-label(for='new-password') 認証用パスワード
          .controls
            label
              input#new-password(type='password', name='password', placeholder='パスワードを入力...')
            button.btn.btn-primary(type='submit') 再試行

    .modal-footer
      a(href='/') トップページへ戻る

  hr
  footer
    p minichat 0.0.1
